.logo {
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

#navbarNav {
  font-family: 'Roboto Slab', serif;
  font-weight: 500; }

.breadcrumb {
  margin-bottom: 0; }

.breadcrumb1 {
  margin-top: 55px;
  display: none; }

@media (min-width: 992px) {
  .breadcrumb1 {
    display: inline; } }

@media (min-width: 992px) {
  .breadcrumb2 {
    display: none; } }

.img-carousel {
  height: 35vh;
  min-height: 202px; }

@media (min-width: 576px) {
  .img-carousel {
    height: 42vh;
    min-height: 300px; } }

@media (min-width: 992px) {
  .img-carousel {
    margin-top: 105px;
    height: 57vh; } }

@media (min-width: 1200px) {
  .img-carousel {
    height: 72vh; } }

.jumbotron {
  margin-top: 55px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 28vh;
  min-height: 202px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media (min-width: 576px) {
  .jumbotron {
    height: 35vh;
    min-height: 300px; } }

@media (min-width: 992px) {
  .jumbotron {
    margin-top: 105px;
    height: 50vh; } }

@media (min-width: 1200px) {
  .jumbotron {
    height: 65vh; } }

.container-contacto {
  margin-top: 130px;
  margin-bottom: 30px; }

.titulo {
  font-family: 'Galada', cursive;
  margin-top: 20px;
  background-color: #3a3a35; }

.title {
  font-family: 'Roboto Slab', serif;
  font-weight: 500; }

.m-top {
  margin-top: 10px; }

.mg-0 {
  margin: 0; }

.btn {
  width: 100%;
  margin: 10px 0; }

h4 {
  font-family: 'Galada', cursive; }

.foto-servicios {
  height: 30vh; }
